html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background-color: #ece7e1;
    color: #01160b;
}

.grid {
    display: grid;
    justify-items: stretch;
    position: relative;
    min-height: 100vh;
}

header {
    text-align: center;
    border-top: 0.3rem solid #01160b;
    position: relative;
    top: 4rem;
}

section {
    position:relative;
    top: 4rem;
}

footer {
    position:relative;
    width: 100%;
    left:0;
    max-height: 15vh;
    bottom: -10rem;
    font-size: 1rem;
    text-align: center;
    background-color: #a4b79b;
    color: white;
    border-top: 0.3rem solid #dae5d4;
}
  

p {
    text-align: center;
}

/* nav bar formatting */

nav {
    background-color: #a4b79b;
    color: #ece7e1;
    position: fixed;
    z-index: 10;
    width: 100%;
    border-bottom: 0.3rem solid #dae5d4;
    height: 4rem;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem 3rem;
}

div.wrap {
    width: 100%;
    max-height: 100%;
}

.wrap img {
    position: absolute;
    bottom: 0;
    width: auto;
    max-height: 100%;
}

.wrap a img:nth-of-type(1) {
    left: 0;
}

.wrap img:nth-of-type(1) {
    right: 0;
}

#hiddenMenu {
    display: none;
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 10;
    background-color: #a4b79b;
    list-style: none;
}

/* home page image carousel */

.wideimg {
    display: grid;
    height: 100%;
    text-align: center;
}

#carousel-container { /* set dimensions for enitre carousel container */
    height: 100%; /* +30px to make space for user controls */
    overflow: hidden; /* Prevents seeing previous and next images  */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#image-container {
    /* flex properties set images to appear in a row
    with no wrapping to a new line. Images keep original
    size as these are fixed */
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    /* Manages transition */
    transition: transform 1s ease-in-out;
}

#image-container img { /* sets image dimensions */
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover; /* makes image cover these dimensions */
    margin: auto;
}

/* home page text */

.widetextbox {
    width: 90%;
    left:5%;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}

/* grid buttons at bottom of screen */

.gridbuttons div {
    background-color: #a4b79b;
    max-width: 100%;
    max-height: 100%;
    padding: 1rem;
    margin: 1rem;
    border: 2px solid #dae5d4;
    opacity: 0.93;
    box-shadow: 5px 5px 8px gray;
    align-items: center;
}

.gridbuttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* screen size rules (mobile vs desktop) */

@media only screen and (min-width: 1000px) {
    .experience {
        grid-template-columns: repeat(4, 1fr);
    }

    #button1 {
        grid-column: 1 / span 1;
    }

    #button2 {
        grid-column: 2 / span 1;
    }

    #button3 {
        grid-column: 3 / span 1;
    }

    #button4 {
        grid-column: 4 / span 1;
    }

    .menu {
        display: none;
    }

}

@media only screen and (max-width: 1000px) {
    #navlist {
        display: none;
    }
}

/*link text styling */

a:link {
    color: #ece7e1;
    text-decoration: none;
  }

a:visited {
    color: #ece7e1;
    text-decoration: none;
  }

a:hover {
    color: #ece7e1;
    text-decoration: none;
  }

a:hover {
    color: #ece7e1;
    text-decoration: none;
  }