body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background-color: #ece7e1;
    color: #01160b;
}

.grid {
    display: grid;
    justify-items: stretch;
    position: relative;
    min-height: 100vh;
}

header {
    text-align: center;
    border-top: 0.3rem solid #01160b;
    position: relative;
    top: 10vh;
}

section {
    position:relative;
    top: 10vh;
}

footer {
    position:relative;
    width: 100%;
    left:0;
    max-height: 15vh;
    min-height: 10vh;
    top: 10vh;
    text-align: center;
    background-color: #a4b79b;
    color: white;
    border-top: 0.3rem solid #dae5d4;
}
  

p {
    text-align: center;
}

/* nav bar formatting */

nav {
    background-color: #a4b79b;
    color: #ece7e1;
    position: fixed;
    z-index: 10;
    width: 100%;
    border-bottom: 0.3rem solid #dae5d4;
    height: 10vh;
    min-height: 4rem;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin: 0.5rem 3rem;
}

#hiddenMenu li {
    display: block;
    margin: 0.5rem 3rem;
    padding: 1ch;
}


div.wrap {
    width: 100%;
    max-height: 100%;
}

.wrap img {
    position: absolute;
    bottom: 0;
    width: auto;
    max-height: 100%;
}

.wrap a img:nth-of-type(1) {
    left: 0;
}

.wrap img:nth-of-type(1) {
    right: 0;
}

#hiddenMenu {
    display: none;
    position: absolute;
    top: 3rem;
    right: 0;
    z-index: 10;
    background-color: #a4b79b;
    list-style: none;
}

/* home page image carousel */

.wideimg {
    display: grid;
    height: 100%;
    text-align: center;
}

#carousel-container { /* set dimensions for enitre carousel container */
    height: 100%; /* +30px to make space for user controls */
    overflow: hidden; /* Prevents seeing previous and next images  */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

#image-container {
    /* flex properties set images to appear in a row
    with no wrapping to a new line. Images keep original
    size as these are fixed */
    display: flex;
    flex-direction: row;
    flex-wrap: none;
    /* Manages transition */
    transition: transform 1s ease-in-out;
}

#image-container img { /* sets image dimensions */
    max-width: 100%;
    min-height: 50vh;
    object-fit: cover; /* makes image cover these dimensions */
    margin: auto;
}

/* home page text */

.widetextbox {
    width: 90%;
    left:5%;
    font-weight: 100;
    text-align: center;
}

/* screen size rules (mobile vs tablet vs desktop) */

/*laptop rule */
@media only screen and (min-width: 1000px) {
    html {
        font-size: 16px;
    }

    .menu {
        display: none;
    }

    nav ul li {
        font-size: 2ch;
    }

    footer {
        font-size: 1rem;
    }

    .widetextbox {
        font-size: 1.5rem;
    }

}

/* tablet rule */
@media only screen and (min-width: 700px) and (max-width: 1000px) {
    html {
        font-size: 24px;
    }

    #navlist {
        display: none;
    }

    nav ul li {
        font-size: 1rem;
    }

    footer {
        font-size: 1.05rem;
    }

    .widetextbox {
        font-size: 1.5rem;
    }

}

/* mobile rule */
@media only screen and (max-width: 700px) {
    html {
        font-size: 2rem;
    }
    #navlist {
        display: none;
    }

    nav ul li {
        font-size: 1.5rem;
    }

    footer {
        font-size: 1rem;
    }

    .widetextbox {
        font-size: 2rem;
    }
}

/*link text styling */

a:link {
    color: #ece7e1;
    text-decoration: none;
  }

a:visited {
    color: #ece7e1;
    text-decoration: none;
  }

a:hover {
    color: #ece7e1;
    text-decoration: none;
  }

a:hover {
    color: #ece7e1;
    text-decoration: none;
  }